:root {
    --azul-principal: #385A7C; 
    --beige-texto: #F2E6D8;
    --azul-claro: #AFC3D1;
    --marron-oscuro: #5C4B4B;
}


.custom-navbar {
    background-color: var(--azul-principal) !important;
    padding: 0.8rem 1rem;
}

.custom-navbar .logo {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.custom-navbar .navbar-brand span {
    color: var(--beige-texto);
    font-size: 1.5cm;
    
}


.custom-navbar .nav-link {
    color: var(--beige-texto) !important;
    font-size: 1.1rem;
    margin-left: 1rem;
}


.custom-navbar .nav-link:hover {
    color: var(--azul-claro) !important;
}


.custom-navbar .nav-link.active {
    color: var(--azul-claro) !important;
    border-bottom: 2px solid var(--azul-claro);
}


.custom-navbar {
    min-height: 180px; 
    display: flex;
    align-items: center;
}

.custom-navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.custom-navbar .navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .custom-navbar .navbar-nav {
        text-align: center;
        margin-top: 10px;
    }
}

.body{
    background-color: #F2E6D8 ;
}